<app-common-header></app-common-header>

<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    About Us
                </h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <p id = "para">
                    The project Kisan Ki Dukan(KKD) is the launch of trend that focuses on delivering goods directly to the customer from the farm. As we know, it’s not fresh if it’s not from farm. And so, an online approach is being implemented by providing a platform to the customer and the farmers where the farmers can find and get in touch with the right customers to sell their goods and in a similar fashion the customers can request for goods from the farmers based on their preferences of location or price and avail the quality raw goods for their use.
                </p>
            </div>
            <div class="col-md-6">
                <p id = "para">
                    The involvement of the middle-man causes the increase in the cost of goods to the customer by certain price. Thus by providing the direct contact, the price is not significantly raised, rather a negotiable cost for the farmer as well as customer is sustained. In this, a little amount of profit can be encashed during the transaction for our organization. Thus, generating an x% of profit on every transaction.
                </p>
            </div>
        </div>
    </div>
