<app-customer-header></app-customer-header>

<a routerLink="/customer/myAccount">myAccount</a>
<a routerLink="/customer/myCart">mycart</a>
<a routerLink="/home">LOGOUT</a>

<input type="text" placeholder="Search Vegetables">
<button (click)="search()">Search</button>

<div class="dropdown">
  <label>Sort By</label>
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Relevance
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" (click)="sortBy('priceLH')">Price: Low to High</a>
    <a class="dropdown-item" (click)="sortBy('priceHL')">Price: High to Low</a>
    <a class="dropdown-item" (click)="sortBy('quantityLH')">Quantity: Low to High</a>
    <a class="dropdown-item" (click)="sortBy('quantityHL')">Quantity: High to Low</a>
    <a class="dropdown-item" (click)="sortBy('distance')">Distance</a>
    <a class="dropdown-item" (click)="sortBy('popularity')">Popular</a>
  </div>
</div>

<input type="text" id="example_id" name="example_name" value="" />
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ion-range-slider #sliderElement
      type="double"
      max="100"
      from_shadow="true"
      to_shadow="true"
      grid="true"
      grid_num="10"
      prefix="Weight: "
      postfix=" Rs"
      decorate_both="false"
      (onUpdate)="myOnUpdate($event)"
      (onChange)="myOnChange($event)"
      (onFinish)="myOnFinish($event)"></ion-range-slider>
    </div>
  </div>
</div>


<div class="container">
  <div class="card-deck">
    <div class="row">
      <div class="col-md-3" *ngFor="let p of searchedProducts | paginate:{itemsPerPage:6,currentPage:t}">
        <div class="card">
          <img class="card-img-top" src="{{p.imageUrl}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{p.productName}}</h5>
            <p class="card-text">{{p.description}}</p>
            <span>Price :₹{{p.price}}</span><br>
            <span>Quantity:{{p.quantity}}Kg</span>
          </div>
        </div>
      </div>
    </div>
</div>
<pagination-controls (pageChange)="t=$event"></pagination-controls>














