<!--The content below is only a placeholder and can be replaced.-->
<app-farmer-header></app-farmer-header>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				Upload a new product
			</h3>
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-2">
				</div>
				<div class="col-md-4">
					<div class="dropdown show">
						 
						<!--<button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
							Select product type
							 class="dropdown-menu" aria-labelledby="dropdownMenuButton"
						</button>-->
						
						<select class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (change)="selectChangeHandler($event)">
							<option value="select" class="dropdown-header">--select--</option>
							 <option value="Onion" class="dropdown-item">Onion</option>
							 <option value="Tomato" class="dropdown-item">Tomato</option>
							 <option value="Brinjal" class="dropdown-item">Brinjal</option>
						</select>
						
					</div>
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-1">
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					<form role="form">
						<div class="form-group">
							 
							<label for="exampleInputEmail1">
								Description
							</label>
							<input [(ngModel)]="description" type="text" class="form-control" id="exampleInputEmail1" name="description">
						</div>
						
						<div class="form-group">
							 
							<label for="exampleInputPassword1">
								Price
							</label>
							<input  [(ngModel)]="price" type="number" class="form-control" id="exampleInputPassword1" name="price">
						</div>
						<div class="form-group">
							 
							<label for="exampleInputPassword1">
								Bulk Order Price
							</label>
							<input  [(ngModel)]="bulkPrice" type="number" class="form-control" id="exampleInputPassword1" name="bulkPrice"> 
						</div>
						<div class="form-group">
							 
							<label for="exampleInputPassword1">
								Quantity
							</label>
							<input  [(ngModel)]="quantity" type="number" class="form-control" id="exampleInputPassword1" name="quantity">
						</div>
						<div class="form-group">
							 
							<label for="exampleInputFile">
								Upload an image
							</label>
							<input type="file" class="form-control-file" id="exampleInputFile">
							
						</div>
						<div class="checkbox">
							 
							<label>
								<input type="checkbox" name="isAvailable" [(ngModel)]="availability">In stock
							</label>
						</div> 
						<button type="submit" (click)="check()" class="btn btn-primary">
							Submit
						</button>
					</form>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</div>
</div>