<app-common-header></app-common-header>
<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <h3 class="text-center">
              Connect Us
          </h3>
      </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-6">
          <p id = "para">
              <b>Mail Us : </b> <br>
              KKD<br>
               Sapient Pvt. Ltd.,<br>

              Unitech Infospace, <br>

              Sector 21, <br>
              Gurugram, <br>
              India, 560103.
          </p>
      </div>
      <div class="col-md-6">
          <p id = "para">
            <b>Registered Office Address:</b> <br>
            KKD<br>
               Sapient Pvt. Ltd.,<br>

              Unitech Infospace, <br>

              Sector 21, <br>
              Gurugram, <br>
              India, 560103.
          </p>
      </div>
  </div>
</div>
